footer{
    width: 100%;
    background-color: rgba($color: $secondaryBackgroundcolor, $alpha: 0.9);

    & div{
        padding-top: 30px;
    }

    & p{
        text-align: center;
        color: $secondaryTextcolor;  
    }

    & img{
        display: block;
        margin: auto;
    }
}