main{
    background-color: $primaryBackgroundcolor;
    border-bottom:$primaryTextcolor 3px solid ; 
}

.cources{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: auto auto 30px;
    overflow: hidden;
    padding-bottom: 20px;
    box-sizing: border-box;
    

    & img{
        width: 90px;
        display: block;
        margin: auto;
        padding-top: 30px;
        
    }

    &__design{
        text-align: center;
        margin-right: 10px;
        line-height: 25px;

        & h3{
            padding-top: 30px;
            padding-bottom: 30px;
            
        }
        
    }
}