* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgba(53, 66, 74, 0.9);
}

.header__navbar {
  height: 50px;
  padding: 30px;
  color: #ffffff;
  border-bottom: #a9508b 3px solid;
}

.header__navbar--title {
  display: block;
  float: left;
  font-size: 2em;
  font-weight: bold;
  margin-left: 70px;
}

.header__navbar--title span {
  color: #a9508b;
}

.header__navbar--links {
  list-style-type: none;
  float: right;
  margin-right: 100px;
  margin-top: 15px;
}

.header__navbar--links li {
  display: inline;
  margin-left: 30px;
}

.header__navbar--links li #current {
  color: #a9508b;
}

.header__navbar--links li #current:hover {
  color: inherit;
}

.header__navbar--links li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
}

.header__navbar--links li :hover {
  font-weight: bold;
  opacity: 0.9;
}

.header__mainpart {
  height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__mainpart h1 {
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 55px;
}

.header__mainpart p {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  line-height: 40px;
}

.header__bottompart {
  width: 80%;
  margin: auto;
  overflow: hidden;
  color: #ffffff;
  padding: 30px;
}

.header__bottompart p {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

.header__bottompart form {
  float: right;
  margin: auto;
}

.header__bottompart form #mail {
  padding: 4px;
  height: 25px;
  width: 250px;
}

.header__bottompart form #submitbutton {
  height: 38px;
  background-color: #a9508b;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

main {
  background-color: #f4f4f4;
  border-bottom: #a9508b 3px solid;
}

.cources {
  width: 80%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto auto 30px;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cources img {
  width: 90px;
  display: block;
  margin: auto;
  padding-top: 30px;
}

.cources__design {
  text-align: center;
  margin-right: 10px;
  line-height: 25px;
  font-size: 16px;
}

.cources__design h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
}

footer {
  width: 100%;
  background-color: rgba(53, 66, 74, 0.9);
}

footer div {
  padding-top: 30px;
}

footer p {
  text-align: center;
  color: #ffffff;
}

footer img {
  display: block;
  margin: auto;
}

.aboutuscontain {
  width: 80%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.aboutuscontain__leftpart {
  width: 65%;
  float: left;
}

.aboutuscontain__leftpart__title {
  padding-bottom: 30px;
}

.aboutuscontain__leftpart__paragraph {
  font-size: 15px;
  line-height: 25px;
}

.aboutuscontain__leftpart__paragraph span {
  margin-top: 20px;
  color: #ffffff;
  padding: 15px;
  display: block;
  background-color: rgba(53, 66, 74, 0.9);
}

.aboutuscontain__rightpart {
  width: 30%;
  display: block;
  float: right;
  line-height: 25px;
  font-size: 15px;
}

.aboutuscontain__rightpart__goal {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  color: #ffffff;
  display: block;
  background-color: rgba(53, 66, 74, 0.9);
  padding: 30px;
}

.aboutuscontain__rightpart__goal span {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.servicescontain {
  width: 80%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.servicescontain__leftpart {
  width: 65%;
  float: left;
}

.servicescontain__leftpart__title {
  padding-bottom: 30px;
}

.servicescontain__leftpart__paragraph {
  font-size: 15px;
  line-height: 25px;
  padding: 20px;
  display: block;
  border: #cccccc solid 1px;
  background: #e6e6e6;
  margin-bottom: 5px;
}

.servicescontain__leftpart__paragraph span {
  font-weight: bold;
  font-size: 1.3em;
}

.servicescontain__rightpart {
  width: 30%;
  display: block;
  float: right;
  line-height: 25px;
  font-size: 15px;
}

.servicescontain__rightpart__form {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  color: #ffffff;
  display: block;
  background-color: rgba(53, 66, 74, 0.9);
  padding: 30px;
  font-size: 15px;
}

.servicescontain__rightpart__form span {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.servicescontain__rightpart__form input {
  padding: 5px;
  width: 90%;
  text-align: start;
  font-size: 14px;
}

.servicescontain__rightpart__form textarea {
  width: 90%;
  padding: 5px;
  text-align: start;
  font-size: 14px;
}

.servicescontain__rightpart__form #submitbutton {
  height: 38px;
  background-color: #a9508b;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 871px) {
  .cources__design {
    line-height: 20px;
    font-size: 1.8vw;
  }
}
/*# sourceMappingURL=style.css.map */